$primary-color: rgb(0, 21, 36);
$scroll-speed: 30s;
$logo-grayscale: 100%;

body {
  max-width: 1800px;
  margin: 0 auto;
  padding-bottom: 20px
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1800px;
  height: auto;
}

.landing-image {
  border-radius: 24px;
  width: 100%;
  max-width: 1400px;
  max-height: 450px;
  object-fit: cover;
  object-position: center;
}

.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 1400px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 24px;
}

.text-overlay {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  text-align: right;
  padding: 20px;
  max-width: 450px;

  h1 {
    font-weight: 700;
    font-size: 35px;
  }

  p {
    font-weight: 500;
    font-size: 25px;
  }
}

.search-bar {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.button-group {
  display: flex;
  gap: 10px;

  button {
    background-color: $primary-color;
  }
}

.logo-slider-wrapper {
  margin-top: 35px;
  text-align: center;

  .carousel-heading {
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 15px;
    color: $primary-color;
  }
}

.logo-slider.custom-scroll {
  overflow: hidden;
  width: 100%;
  padding: 20px 0;
  border-radius: 8px;

  .logo-track {
    display: flex;
    width: calc(200%);
    animation: scroll-logos $scroll-speed linear infinite;
  }

  .logo-item {
    flex: 0 0 auto;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 25px;

    a {
      display: inline-block;
    }

    img {
      max-width: 120px;
      max-height: 100px;
      object-fit: contain;
      filter: grayscale($logo-grayscale);
      transition: filter 0.3s ease-in-out;

      &:hover {
        filter: grayscale(0);
      }
    }
  }
}

@keyframes scroll-logos {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

.card-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 20px;
  flex-wrap: wrap;
  padding-bottom: 50px;
}

mat-card {
  max-width: 400px;
  min-width: 300px;
  flex: 1;
  margin: 15px;
  padding: 20px;

  &:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  }

  mat-card-title {
    font-size: clamp(20px, 2vw, 28px);
    font-weight: bold;
    color: $primary-color;
    margin-bottom: 5px;
  }

  mat-card-content p {
    font-size: clamp(15px, 1.8vw, 18px);
    font-weight: 500;
  }

  mat-card li {
    font-weight: 500;
    font-size: 15px;
  }

  mat-card-actions a {
    font-size: clamp(15px, 1.5vw, 16px);
    font-weight: bold;
    color: $primary-color;
  }
}

.developments-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1400px;
  height: auto;
  border-radius: 24px;
  overflow: hidden;
  margin: 0 auto;

  &:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  }
}

.developments-image {
  width: 50%;
  height: auto;
  object-fit: cover;
  object-position: center;
}

.dev-overlay {
  position: relative;
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: rgba(221, 161, 94, 0.5);
  color: white;
  padding: 20px;
}

.dev-text-overlay {
  margin-bottom: 20px;
  color: $primary-color;
  line-height: 1.2;

  h1 {
    font-weight: 700;
    font-size: 35px;
  }

  p {
    font-weight: 500;
    font-size: 25px;
  }
}

.explore-dev {
  align-self: flex-end;
  margin-top: 10px;
  background-color: $primary-color;
}


@media (max-width: 1024px) {
  .text-overlay {
    font-size: 1.2rem;
    width: 95%;
    padding: 10px;
  }

  .developments-image {
    display: none;
  }

  .dev-overlay {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .developments-container {
    width: 98%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .developments-image {
    display: none;
  }

  .dev-text-overlay {
    line-height: 1.2;
    margin-top: 20px;
    width: 100%;
  }
}
