body {
    max-width: 1800px;
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1800px;
  height: auto; /* Adjust based on your design needs */
}

.landing-image {
  border-radius: 24px;
  width: 100%; /* Ensures the image covers the entire container width */
  max-width: 1400px;
  max-height: 500px;
  object-fit: cover; /* Ensures the image scales without losing its aspect ratio */
  object-position: center; /* Centers the image within the container */
}

@media (max-width: 768px) {
  .container {
    height: auto; /* Allows the container height to adjust based on content */
  }

  .landing-image {
    width: 100%;
    max-height: none; /* Allows the image to scale naturally on smaller screens */
  }

  .text-overlay {
    font-size: 1rem; /* Adjust font size for mobile devices */
    max-width: 250px; /* Adjust maximum width for mobile devices */
  }
}

@media (max-width: 1024px) {
  .text-overlay {
    font-size: 1.2rem; /* Adjust font size for tablets */
    max-width: 300px; /* Adjust maximum width for tablets */
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3); /* Adjusted opacity to 30% */
  border-radius: 24px; /* Match the image border radius */
}

.text-overlay {
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute; /* Position the text overlay on top of the image */
  top: 50%; /* Center the text vertically */
  right: 150px; /* Position the text to the right */
  transform: translateY(-50%); /* Adjust the centering */
  color: white; /* Text color */
  text-align: right; /* Right align the text */
  padding: 20px;
  max-width: 450px; /* Set a maximum width for the text box */
}

.text-overlay h1 {
    font-weight: 700;
    font-size: 35px;
}

.text-overlay p {
    font-weight: 500;
    font-size: 25px;
}

.search-bar {
  display: flex;
  flex-direction: column;
  gap: 10px; /* Add some space between the search bar and buttons */
}

.button-group {
  display: flex;
  gap: 10px; /* Add some space between the buttons */
}

.button-group button {
  background-color: rgb(0,21,36);
}

.mat-menu-content {
  background-color: rgb(221,161,94);
  color: rgb(0,21,36);
}

.mat-menu-item {
  font-size: 15px;
  font-weight: 500;
}
