.toolbar {
  height: 70px;
  background-color: rgb(221,161,94);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.toolbar button {
  background-color: rgb(221,161,94);
  color: rgb(0,21,36);
}

.desktop-menu {
  display: flex;
}

.mobile-menu {
  display: none;
}

@media screen and (max-width: 768px) {
  .desktop-menu {
    display: none;
  }

  .mobile-menu {
    display: block;
  }
}


.home {
  margin-left: auto;
  height: 65px;
}

.home-icon {
  width: 250px;
  height: 75px;
  margin-right: 8px;
  padding-top: 10px
}

.spacer {
  flex: 1 1 auto;

  .mat-menu-content {
    background-color: rgb(221,161,94);
    color: rgb(0,21,36);
  }

  .mat-menu-item {
    font-size: 15px;
    font-weight: 500;
  }
}
