.toolbar {
  height: 70px;
  background-color: rgb(221,161,94);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.toolbar button {
  background-color: rgb(221,161,94);
  font-size: 15px;
  font-weight: 500;
  color: rgb(0,21,36);
}

.home {
  margin-left: auto; // Moves the Home button to the left
  font-size: 30px;
  font-weight: 700;
  height: 65px;
  display: flex; // Ensures that child elements are aligned horizontally
  align-items: center; // Aligns child elements vertically in the center
}

.home-icon {
  width: 250px;
  height: 75px;
  margin-right: 8px;
  padding-top: 10px
}

.spacer {
  flex: 1 1 auto; // Takes up remaining space to push other buttons to the right
}

.mat-menu-content {
  background-color: rgb(221,161,94);
  color: rgb(0,21,36);
}

.mat-menu-item {
  font-size: 15px;
  font-weight: 500;
}
