<header>
  <mat-toolbar class="toolbar">
    <button mat-flat-button class="home" [routerLink]="['/']">
      <img src="assets/img/nav-menu/logo.png" alt="Home Icon" class="home-icon">
    </button>

    <span class="spacer"></span>

    <!-- Show buttons for large screens -->
    <div class="desktop-menu" *ngIf="!isSmallScreen">
      <button mat-flat-button [matMenuTriggerFor]="buyMenu">Buy</button>
      <button mat-flat-button [matMenuTriggerFor]="rentMenu">Rent</button>
      <button mat-flat-button [matMenuTriggerFor]="sellMenu">Sell</button>
    </div>

    <!-- Show single menu button for small screens -->
    <button mat-icon-button class="mobile-menu" [matMenuTriggerFor]="mainMenu" *ngIf="isSmallScreen">
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar>

  <!-- Dropdown menu for small screens -->
  <mat-menu #mainMenu="matMenu">
    <button mat-menu-item [matMenuTriggerFor]="buyMenu">Buy</button>
    <button mat-menu-item [matMenuTriggerFor]="rentMenu">Rent</button>
    <button mat-menu-item [matMenuTriggerFor]="sellMenu">Sell</button>
  </mat-menu>

  <!-- Buy Dropdown Menu -->
  <mat-menu #buyMenu="matMenu">
    <button mat-menu-item>All Properties for Sale</button>
    <button mat-menu-item>Houses</button>
    <button mat-menu-item>Apartments</button>
  </mat-menu>

  <!-- Rent Dropdown Menu -->
  <mat-menu #rentMenu="matMenu">
    <button mat-menu-item>All Properties to Rent</button>
    <button mat-menu-item>Houses</button>
    <button mat-menu-item>Apartments</button>
  </mat-menu>

  <!-- Sell Dropdown Menu -->
  <mat-menu #sellMenu="matMenu">
    <button mat-menu-item>Sell With an Agent</button>
    <button mat-menu-item>Sell Privately</button>
    <button mat-menu-item>Auction</button>
  </mat-menu>

</header>
