<footer class="footer">
  <div class="footer-container">

    <button mat-flat-button class="home" [routerLink]="['/']">
      <img src="assets/img/logo.png" alt="Home Icon" class="home-icon">
    </button>
    <div class="sections">
      <div class="footer-section">
        <h3>Property for Sale</h3>
        <ul>
          <li><a routerLink="/residential-sale">Residential Property for Sale</a></li>
          <li><a routerLink="/commercial-sale">Commercial Property For Sale</a></li>
          <li><a routerLink="/developments">Developments For Sale</a></li>
        </ul>
      </div>

      <div class="footer-section">
        <h3>Property to Rent</h3>
        <ul>
          <li><a routerLink="/residential-rent">Residential Property to Rent</a></li>
          <li><a routerLink="/commercial-rent">Commercial Property To Rent</a></li>
        </ul>
      </div>

      <div class="footer-section">
        <h3>Advice</h3>
        <ul>
          <li><a routerLink="/property-advice">Property Advice</a></li>
          <li><a routerLink="/property-news">Property News</a></li>
          <li><a routerLink="/neighbourhoods">Choosing a Neighbourhood</a></li>
        </ul>
      </div>

      <div class="footer-section">
        <h3>Company</h3>
        <ul>
          <li><a routerLink="/about">About Us</a></li>
          <li><a routerLink="/careers">Careers</a></li>
          <li><a routerLink="/contact">Contact Us</a></li>
        </ul>
      </div>

      <div class="footer-social">
        <a href="https://facebook.com" target="_blank"><i class="fab fa-facebook"></i></a>
        <a href="https://twitter.com" target="_blank"><i class="fab fa-twitter"></i></a>
        <a href="https://linkedin.com" target="_blank"><i class="fab fa-linkedin"></i></a>
        <a href="https://instagram.com" target="_blank"><i class="fab fa-instagram"></i></a>
        <a href="https://youtube.com" target="_blank"><i class="fab fa-youtube"></i></a>
      </div>
    </div>
    <p class="footer-copyright">&copy; 2025 Property Quest. All rights reserved.</p>
  </div>
</footer>
